@import '_vars';
@import '_global';

.header {
	background-color: #fefefe;
}
.header__top {
	display: flex;
	padding: 0 30px;
	justify-content: space-between;
	align-items: center;
}
.nav {
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;	
	}
	li {
		a {
			color: #989696;
			font-size: 13px;
			&:hover {
				color: #010101;
				transition: all 0.4s;
			}
		}
		&+li {
			margin-left: 40px;
		}
	}
}
.header__logo {
	margin: 0 45px;
}
.header__bottom {
	margin: 230px auto 230px;
	max-width: 480px;
	width: 100%;
	text-align: center;
	button {
		margin-top: 45px;
		width: 188px;
		padding: 21px 10px;
		border: 1px solid #000;
		color: #000;
		text-transform: uppercase;
		font-size: 13px;
		background-color: transparent;
		cursor: pointer;
	}
}
.header__title {
	font-size: 44px;
	font-weight: 500;
	color: #1d1e1f;
}
.header__subtitle {
	font-size: 16px;
	color: #898888;
	font-style: italic;
}
.about {
	background-color: #1d1d1d;
	overflow: hidden;
	background-image: url(../images/about.png);
	background-size: contain;
	background-position: center 100.1%;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom: 245px;
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		background-color: #fff;
		width: 5px;
		height: 100%;
	}
}
.about__items {
	max-width: 940px;
	width: 100%;
	margin: 205px auto 40px;
	display: flex;
	flex-direction: column;
	.about__item {
		max-width: 395px;
		width: 100%;
		text-align: right;
		position: relative;
		.about__item-title {
			color: #fefefe;
			font-size: 48px;
			font-weight: 500;
			margin-bottom: 15px;
		}
		.about__item-text {
			font-size: 15px;
			color: #b7b7b7;
		}
		&:nth-child(odd) {
			align-self: flex-start;
			margin-bottom: 12px;
			&::before {
				content: '';
				width: 24px;
				height: 24px;
				border: 5px solid #fff;
				border-radius: 50%;
				background-color: #1d1d1d;
				position: absolute;
				top: 5px;
				right: -89px;
			}
		}
		&:nth-child(even) {
			align-self: flex-end;
			text-align: left;
			margin-bottom: 150px;
			&::before {
				content: '';
				width: 24px;
				height: 24px;
				border: 5px solid #fff;
				border-radius: 50%;
				background-color: #1d1d1d;
				position: absolute;
				top: 5px;
				left: -85px;
			}
		}
		&.about__item-big {
			margin-bottom: 80px;
			&::before {
				width: 46px;
				height: 46px;
				border: 5px solid #fff;
				right: -100px;
			}
		}
	}
}
.team {
	background-color: #fff;
	margin-top: 70px;
	padding-bottom: 95px;
}
.team__top {
	max-width: 255px;
	text-align: center;
	margin: 0 auto 210px;
	.team__top-title {
		color: #1d1e1f;
		font-size: 34px;
	}
	.team__top-suptitle {
		font-size: 16px;
		color: #898888;
		font-style: italic;
	}
}
.team__human {
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	.team__item {
		max-width: 230px;
		width: 100%;
		text-align: center;
		&.team__item-top {
			margin-top: -90px;
		}
		.team__item-img {
		width: 170px;
		height: 170px;
		border-radius: 50%;
		margin: 0 auto;
		}
		.team__item-info {
			margin-top: 20px;
			// padding-bottom: 40px;
			.team__item-name {
				font-size: 14px;
				color: #464646;
			}
			.team__item-work {
				font-size: 13px;
				color: #b3b3b3;
			}
		}
		.team__item-social {
				margin-top: 40px;
				position: relative;
				width: 100%;
				a {
					position: absolute;
					display: inline-block;
					bottom: 0;
					&.team__item-twit {
						width: 21px;
						height: 18px;
						left: 87px;
					}
					&.team__item-inst {
						width: 21px;
						height: 20px;
						right: 87px;
					}
				}
			}
	}
}
.services {
	background-color: #181818;
	background-image: url(../images/services-bg.png);
	background-position: center 300%;
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 235px;
	padding-bottom: 295px;
	position: relative;
	&:before, &:after {
	  content: '';
	  position: absolute;
	  background: #fff;
	  width: 100%;
	  height: 205px;
	}
	&:before {
	  top: 0;
	  clip-path: polygon(0 0, 100% 0, 0 100%);
	}
	&:after {
	  bottom: 0;
	  clip-path: polygon(0 100%, 100% 100%, 100% 0);
	}
}
.services__top {
	max-width: 430px;
	width: 100%;
	margin: 0 auto 205px;
	.services__top-title {
		color: #fff;
		font-size: 34px;
	}
	.services__top-suptitle {
		font-size: 16px;
		color: #777;
		font-style: italic;
	}
}
.services__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 460px;
	.services__item {
		max-width: 340px;
		width: 100%;
		text-align: center;
		.services__item-img {
			width: 170px;
			height: 170px;
			border-radius: 50%;
			border: 6px solid #fff;
			margin: 0 auto;
			position: relative;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.services__item-title {
			font-size: 26px;
			color: #fff;
			margin-top: 35px;
			margin-bottom: 25px;
		}
		.services__item-text {
			font-size: 18px;
			color: #383838;
		}
	}
}
.services__blog {
	max-width: 220px;
	margin: 0 auto;
	a {
		background-color: #fff;
		font-size: 16px;
		color: #000;
		padding: 25px 10px;
		cursor: pointer;
		border-radius: 2px;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
	}
}